<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InputForm</servlet-name>
        <servlet-class>com.srp.controller.InputForm</servlet-class>
        <init-param>
            <param-name>emailID</param-name>
            <param-value>hi.aswin@gmail.com</param-value>
        </init-param>
        
    </servlet>
    <servlet>
        <servlet-name>CreateNew</servlet-name>
        <servlet-class>com.srp.controller.CreateNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Review</servlet-name>
        <servlet-class>com.srp.controller.Review</servlet-class>
    </servlet>
    
        <servlet-mapping>
        <servlet-name>InputForm</servlet-name>
        <url-pattern>/InputForm.do</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>CreateNew</servlet-name>
        <url-pattern>/CreateNew</url-pattern>
    </servlet-mapping>
    
        <servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
</web-app>
